<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/slyles.css">
    <title>api baby-shower</title>
</head>
<body>
    <h1 id="main_title">Olá, seja bem vindo à nossa API Baby-Shower</h1>
    <p>O objetivo desta api é criar um marketplace em que pais e mães possam trocar ou vender produtos utilizados pelo bebê, como roupas, brinquedos, utensílios etc. </p>
    <p>E como funciona? Esta api possui bancos relacionais que permitem armazernar conversas de chat entre os pais, produtos por eles postados, fazer perguntas relacionadas aos produtos de outros pais, bem como responder perguntas sobre seus produtos. </p>
    <p>E possível filtrar produtos com uso de geolocalização, além de enviar emails automáticos ao enviar uma pergunta ou resposta.</p>
    <p>Ainda existem filtros de nome do produto, preço, categoria e paginações. </p>
    <p>Esta api possui poussui uma base de todas a cidades brasileiras. </p>

    <p>Maiores detalhes sobre como postar, atualizar e deletar informações acesse nossa documentação:<a href="https://github.com/danielmsatiro/babyshower">Documentação</a></p>

    <ul>
        <li>Get parents</li>
        <li>Get products</li>
        <li>Get categories</li>
        <li>Get questions by product</li>
        <li>Get answers by question</li>
        
    </ul>
    
</body>
</html>